{% extends 'films/base.html.twig' %}

{% block body %}

    <div class="container">

        <form class="form-inline" action="/directors" method="POST">
            <label for="add-director">Add Director:</label>
            <input class="form-control" id="add-director" type="text" name="directorToAdd" />
            <button type="submit" class="btn btn-primary">Add Director</button>
        </form>

        <h3>Directors:</h3>

        <hr/>

        {% if directors|length > 0 %}
            {% for director in directors  %}
                <div class="row">
                    <div class="col-9">
                        <p>{{ director.name }}</p>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" type="submit" href="/directors/delete/{{ director.id }}">Delete</a>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <p>No Directors, add some!</p>
        {% endif %}

    </div>

{% endblock %}