{% extends 'films/base.html.twig' %}

{% block body %}

    <div class="container">

        <form class="form-inline" action="/genres" method="POST">
            <label for="add-genre">Add Genre:</label>
            <input class="form-control" id="add-genre" type="text" name="genreToAdd" />
            <button type="submit" class="btn btn-primary">Genre</button>
        </form>

        <h3>Genres:</h3>

        <hr/>

        {% if genres|length > 0 %}
            {% for genre in genres  %}
                <div class="row">
                    <div class="col-9">
                        <p>{{ genre.name }}</p>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" type="submit" href="/genres/delete/{{ genre.id }}">Delete</a>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <p>No Genres, add some!</p>
        {% endif %}

    </div>

{% endblock %}

