{% extends 'films/base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3 px-4 mb-4">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films/add">Add Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films/genres">Manage Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films/directors">Manage Directors</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <form class="form-inline" action="/films/genres" method="POST">
            <label for="add-genre">Add Genre:</label>
            <input class="form-control" id="add-genre" type="text" name="genreToAdd" />
            <button type="submit" class="btn btn-primary">Genre</button>
        </form>

        <h3>Genres:</h3>

        <hr/>

        {% if genres|length > 0 %}
            {% for genre in genres  %}
                <div class="row">
                    <div class="col-9">
                        <p>{{ genre.name }}</p>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-primary" type="submit" href="/films/genres/delete/{{ genre.id }}">Delete</a>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        {% else %}
            <p>No Genres, add some!</p>
        {% endif %}

    </div>

{% endblock %}

